<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>M1</key>
	<string>Main</string>
	<key>M1.1</key>
	<string>Employee</string>
	<key>M1.2</key>
	<string>Operations</string>
	<key>M1.3</key>
	<string>Financal</string>
</dict>
</plist>
